body {
    margin: auto;
    padding: 0.5em;
    font-size: large;
    font-family: Quattrocento, Georgia, serif;
    max-width: 50em;
}

p, ul {
    line-height: 1.25;
}    

a {
    color: Black;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
    box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 LightGray;
}

.katex {
    font-size: 1em !important;
}

a:hover {
    box-shadow: inset 0 -1px 0 0 #fff, inset 0 -3px 0 0 DarkGray;
}

.code-highlighted {
    background-color: MidnightBlue;
    text-shadow: 1px 1px 0 MidnightBlue, -1px 1px 0 MidnightBlue, 2px 0 0 MidnightBlue, -2px 0 0 MidnightBlue;
    color: WhiteSmoke;
}

ul {
    list-style-type: none;
}

ul.org-ul {
    font-family: monospace;
}

ul.org-ul li a {
    font-family: Quattrocento, Georgia, serif;
}    

pre.src {
    background-color: #2B2B2B;
    color: #a9b7c6;
    margin: 0;
    /* font-family: "Lucida Console", Monaco, monospace; */
}

ul.navigation {
    border-bottom-style: double;
    border-bottom-color: LightGray;
    display: flex;
    font-size: x-large;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

.site-name {
    word-spacing: -2px;
    font-weight: bolder;
}

.title {
    text-align: left;
}

.abstract {
    text-align: center;
    font-size: large;
}

.abstract:before {
    content: "Abstract";
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
}

pre.src {
    overflow-x: scroll;
}

table {
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

img {
    padding: 1px;
    border: 1px solid;
    /* width: 60%; */
}

div#postamble {
    border-top-style: double;
    border-top-color: LightGray;
    padding-top: 1em;
    margin-top: 1em;
}

div.figure {
    text-align: center;
}

img#about {
    align: left;
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 223px;
}    

.fb-like {
    width: 100%;
    vertical-align: top;
}

@media (max-width: 800px) {
    ul.navigation {
	/* display: block; */
	/* text-align: center; */
	font-size: large;
    }
}

@media (max-width: 620px) {
    ul.navigation {
	display: block;
	text-align: center;
    }
}
